# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.12.12]
#         python-version: [3.5, 3.6, 3.7, 3.8]

    steps:
    - name: Inject slug/short variables
      uses: rlespinasse/github-slug-action@v3.x
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
    - name: Build package
      run: |
        python -m pip install .
        pip install setuptools wheel twine
        python setup.py bdist_wheel
    - name: Build test
      run: |
        python -c "import doc_curation"
    - name: Test with pytest
      run: |
        pip install pytest
        pytest
    - name: Upload package
      if: ${{ github.event_name != 'pull_request'}}
      uses: pypa/gh-action-pypi-publish@master
      with:
        user: __token__
        skip_existing: true
        password: ${{ secrets.PYPI_API_TOKEN }}